---
env:
  REPO_NAME: mattkobayashi
  IMAGE_NAME: github-status-pushover
jobs:
  python:
    name: Python
    runs-on: ubuntu-24.04
    steps:
      # Set up Python
      # https://github.com/actions/setup-python
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14.3"
      # Checkout repository
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # Install test dependencies
      - name: Install test dependencies
        run: |
          pipx install uv
      - env:
          PUSHOVER_TOKEN: "test_token"
          PUSHOVER_USER: "test_user"
        name: Execute tests
        run: |
          uv run --group test pytest tests/ -v
  image:
    name: Image
    runs-on: ubuntu-24.04
    steps:
      # Checkout the repository
      # https://github.com/actions/checkout
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # Add support for more platforms with QEMU (optional)
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      # Set up buildx
      # https://github.com/docker/setup-buildx-action
      - name: Set up buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      # Build and load container image
      # https://github.com/docker/build-push-action
      - name: Build container image
        id: build
        uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23 # v6.19.0
        with:
          context: .
          load: true
          tags: "${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:test"
      # Test container image
      - name: Test container image
        run: |
          set -eux
          CONTAINER_ID="$(uuidgen)"
          docker container run \
          --attach=stdout \
          --attach=stderr \
          --env PUSHOVER_TOKEN=${{ secrets.PUSHOVER_TOKEN }} \
          --env PUSHOVER_USER=${{ secrets.PUSHOVER_USER }} \
          --name=$CONTAINER_ID \
          --rm ${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:test &
          sleep 30
          docker container stop $CONTAINER_ID
      # Remove the test container image
      - name: Remove container image
        if: ${{ !cancelled() }}
        run: |
          set -eux
          docker image rm --force ${{ steps.build.outputs.imageid }}
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
