---
jobs:
  python:
    name: Python
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        container: [github-status-pushover]
    steps:
      # Harden the runner (Audit all outbound calls)
      # https://github.com/step-security/harden-runner
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      # Set up Python
      # https://github.com/actions/setup-python
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14.0"
      # Checkout repository
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # Install test dependencies
      - name: Install test dependencies
        run: |
          pipx install uv
      - env:
          PUSHOVER_TOKEN: "test_token"
          PUSHOVER_USER: "test_user"
        name: Execute tests
        run: |
          uv run --group test pytest tests/ -v
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
